[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%if [@config:show_home_ads@]%]
		[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%param *header%]
				<section id="homepageCarousel" class="carousel slide" data-ride="carousel" aria-label="Banner images">
					[%if [@total_showing@] > 1%]
						<ol class="carousel-indicators">
							[%site_value id:'counter' type:'load'/%]
						</ol>
					[%/if%]
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					[%if [@total_showing@] > 1%]
						<a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					[%/if%]
				</section>
			[%/param%]
			[%param *ifempty%]
				<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
					Click to add a banner<br/>
				</a>
			[%/param%]
		[%/advert%]
	[%/if%]
	<hr aria-hidden="true" />
	<section id="homepage-content" class="n-responsive-content" aria-label="Main description">[@page_content@]</section>
	[%thumb_list type:'products' filter_category:'' limit:'8' %]
	[%param *header%]
	<div class="col-12 text-center uzbek-banner"><h3>Genuine Uzbek Products</h3></div> 
	<section class="row products-row"> 
	[%/param%]
	[%param *body%]
	<div class="col-xs-1 col-md-6 col-lg-3 pb-2">
		<div class="card thumbnail card-body">
		
         <meta itemprop="brand" content="[@brand@]"/>
		<meta itemprop="mpn" content="[@sku@]"/>
		<a href="[@URL@]" class="thumbnail-image  pb-2"> <!--use custome config to adjust-->  
			<img src="[%asset_url type:'product' thumb:'thumb' default:'/assets/default_product.gif' id:'[@SKU@]'%][%/asset_url%]" itemprop="image" class="product-image mx-auto img-fluid" alt="[@model@]" rel="itmimg[@SKU@]">
		</a>
		<a href="[@url@]"><h5 class="card-title text-center">[@name@]</h5></a>
		[%if [@user:group_id@] ne [@CONFIG:DEFAULT_GROUPID@]%][%if  [@extra@] or [@has_child@] or [@editable_bundle@]%]
         <p class="card-text text-center">From $[@store_price@]</p>
		
		[%else%]
		<p class="card-text text-center">get it for $[@store_price@]</p>
		[%/if%]
        
		<form class="form-inline buying-options">
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
			<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="[%if [@min_qty@] > 0%][@min_qty@][%else%]1[%/if%]" class="input-tiny">
			[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
				<a href="[@URL@]" title="View [@model@] Buying Options" class="btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
			[%elseif [@available_preorder_quantity@] > 0 AND [@preorder@] AND [@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
				<button type="button" title="Pre-Order [@model@] Now!" class="addtocart btn btn-warning btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
			[%elseif [@store_quantity@] > 0 AND [@preorder@] AND ![@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
				<button type="button" title="Pre-Order [@model@] Now!" class="addtocart btn btn-warning btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
			[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
				<button type="button" title="Add [@model@] to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<button type="button" title="Add [@model@] to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
			[%else%]
				<a class="notify_popup btn btn-outline-secondary btn-block btn-loads" href="[@url@]" title="Notify Me When [@model@] Is Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
			[%/if%]
		</form>
		[%if [@store_quantity@] > 1%]
		<div class="savings-container mr-1">
          <span class="badge badge-secondary">No Stock</span>
		</div>
		[%/if%]
		[%else%]
    <a class="btn btn-primary btn-block mt-3" href="[%url page:'account' type:'login'/%]">Login for Pricing</a>
    [%/if%]
		</div>
		
	</div>
	[%/param%]
	[%param *footer%]
	
	</section>
	[%/param%]
	[%/thumb_list%]
	[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'8' template:'' ad_group:''%]
			[%param *header%]
				<hr aria-hidden="true"/>
				<h2 class="sr-only">Featured products</h2>
				<section class="row products-row" aria-label="Featured products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
			[%param *ifempty%]
				[%random_products filter_category:'' template:'' limit:'8'%]
					[%param *header%]
						<hr aria-hidden="true"/>
						<h2 class="sr-only">Featured products</h2>
						<section class="row products-row" aria-label="Featured products">
					[%/param%]
					[%param *footer%]
						</section>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
</div>
